/*------------------ GLOOBAL ------------------*/
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #FFFFFF;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

img {
  display: block;
}

p {
  margin: 0;
}

.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

/* @media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
  }
} */
  

/* .container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
} */

.icon-soc {
  fill: #F4F4FD;
}


/*------------------ HEADER ------------------*/


.header-page {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
    background: #FFFFFF;
    height: 56px;
}

.header-container {
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.header-and-footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #4D5AE5;
  letter-spacing: 0.03em;
  line-height: 1.17;
  text-transform: uppercase;
  align-items: center;
  padding-top: 17.5px;
  padding-bottom: 17.5px;
}


.header-logo-second {
  color: #2E2F42;
}

.header-menu-btn {
  width: 24px;
  height: 24px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  cursor: pointer;
}


@media screen and (min-width: 320px) {

  .header-nav-list {
      display: none;
    }
  
    .header-nav-item {
      display: none;
    }
  
    .nav-link {
      display: none;
    }
  
    .current-studio {
      display: none;
    }
  
    .header-address {
      display: none;
    }
  
    .header-adress-list {
      display: none;
    }
  
    .header-address-item {
      display: none;
    }
  
    .contact-link {
      display: none;
    }

}




@media screen and (min-width: 1158px) {
.header-nav-list {
    display: flex;
    gap: 40px;
  }

.header-nav-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2E2F42;
}

.nav-link {
  position: relative;
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2E2F42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.nav-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -1px;
  ;
  background-color: #404bbf;
  border-radius: 2px;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.nav-link:hover::after,
.nav-link:focus::after,
.nav-link.current-studio::after {
  opacity: 1;
}



.header-address {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-adress-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-address-item {}

.contact-link {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover,
.contact-link:focus,
.nav-link:hover,
.nav-link:focus,
.current-studio {
  color: #404bbf
}

.header-menu-btn {
  display: none;
}
}





/*------------------ HERO ------------------*/
.hero {
  background-color: #2E2F42;
  background-image: linear-gradient(
    rgba(46, 47, 66, 0.7), 
    rgba(46, 47, 66, 0.7)
    ),
    url(../images/office_one.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1440px;
  margin: 0 auto;
  padding: 188px 0;
}

.hero-title {
  color: #FFFFFF;
  font-size: 56px;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.07;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


.hero-btn {
  display: block;
  font-size: 16px;
  border: none;
  color: #FFFFFF;
  font-weight: 500;
  background-color: #4D5AE5;
  letter-spacing: 0.04em;
  line-height: 1.5;
  margin-top: 48px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px 16px 32px;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover {
  background-color: #404BBF;
}



/*------------------ADVANTEGES ------------------*/
.advantages {
  padding: 96px 0;
}

.advantages .container {
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-list {
  display: flex;
  flex-direction: column;
  gap: 72px;


}

/* .advantages-item {
  width: calc((100% - 72px) / 4);
} */

.advanteges-subtitle {
  margin-bottom: 8px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #2E2F42;
}

.advantages-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* .advantages-icon-box {
  display: flex;
  margin-bottom: 8px;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 112px;
  background-color: #F4F4FD;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #8E8F99;
} */


/*------------------ TEAM ------------------*/
.team {
  background-color: #F4F4FD;
  padding: 96px 0;
}

.team-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 72px;
  color: #2E2F42;
}

.team-card {
    margin-left: 12px;
    margin-right: 12px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    background: #FFFFFF;
}

.team-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}


.team-card-content {
  margin: 32px 16px;
}


.team-subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #2E2F42
}

.team-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 8px;
}

.team-list-icons {
  display: flex;
  gap: 24px;
}

.team-item-icons {

}

.team-soc-link {
    background-color: #4D5AE5;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: #404BBF;
}

/* .team-item-icons {
  width: calc((100% - 48px) / 4);
  background-color: #4D5AE5;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.team-soc-link {
  background-color: #4D5AE5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

 */


/*------------------ PORTFOLIO ------------------*/
.portfolio {
  padding-top: 96px;
  padding-bottom: 96px;
}

.portfolio .container {

}

.portfolio-title {
  font-size: 36px;
  font-weight: 700;
   line-height: 1.11;
  letter-spacing: 0.02em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 72px;
  color: #2E2F42;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  gap: 48px;

}


.portfolio-item {
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}

.thumb {
position: relative;
overflow: hidden;
}

.thumb-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #F4F4FD;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.portfolio-item:hover .thumb-text {
  transform: translateY(0);
}

.portfolio-item:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}


.portfolio-card-contetn {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}


.portfolio-subtitile {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2E2F42;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio-image {}



/*------------------FOOTER------------------*/
.footer {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: #2e2f42;
}

.container {}

.footer-box {
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #4D5AE5;
  letter-spacing: 0.03em;
  line-height: 1.17;
  text-transform: uppercase;
  display: block;
  margin-bottom: 16px;
  text-align: center;
}

.footer-logo-second {
  color: #F4F4FD;
}

.footer-text {
/* Body */
  color: #F4F4FD;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}

/* .footer-box {
  display: flex;
  align-items: baseline;
} */

.footer-container-inform {
}

.footer-container-soc {
  margin-left: 40px;
  margin-right: 40px;
}

.footer-container-soc-title,
.footer-container-subscribe-title {
  margin-bottom: 16px;
  margin-top: 72px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.footer-container-soc-list {
  display: flex;
  gap: 16px;
}

.footer-container-soc-item {
}

.footer-soc-link {
  background-color: #4D5AE5;
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: #31D0AA;
}


.footer-container-subscribe {
}

.footer-label {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.input-wrapper {
  margin-top: 16px;
  display: flex;
  gap: 26px;
}

.footer-subscribe {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.footer-user-emai {
}

.footer-form-input {
  color: #FFFFFF;
  width: 288px;
  height: 40px;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  padding-left: 16px;
  padding-right: 16px;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-form-input::placeholder {
  color: #FFFFFF;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}

.footer-form-input:focus {
  border: 1px solid #31D0AA;
  outline: transparent;
  }

.footer-subscribe-btn {
  color: #FFFFFF;
  background-color: #4D5AE5;
  width: 165px;
  height: 40px;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-btn:hover {
  background-color: #31D0AA;
}


.footer-icon-send {
margin-left: 16px;
  fill: #FFFFFF;
}

.modal-overley {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}



.modal {
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  flex-direction: column;
  padding-top: 72px;
  padding-right: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.modal-btn-close {
  background-color: rgb(231, 233, 252);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.modal-btn-close:hover {
  background-color: #404BBF;
  border: none;
}

.modal-btn-close:focus {
  background-color: #404BBF;
  border: none;
}

.modal-btn-close-icon {
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-close:hover > .modal-btn-close-icon {
  fill: #FFFFFF;
}

.modal-btn-close:focus > .modal-btn-close-icon {
  fill: #FFFFFF;
}

.modal-text {
  color: #2E2F42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 16px;
}


.modal-label {
  display: inline-block;
  margin-bottom: 4px;
  color: #8E8F99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  display: block;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  padding-right: 16px;
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-input:focus {
  border-color:#4D5AE5;
}

.modal-input:focus + .modal-input-icon {
fill: #4D5AE5;
}

.modal-input::placeholder {
  color: #2E2F4266;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1666;
  letter-spacing: 0.04em;
}

.input-wrap {
position: relative;
}

.modal-input-icon {
position: absolute;
left: 16px;
top: 50%;
transform: translateY(-50%);
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field {
  margin-bottom: 8px;
}

.modal-field-textarea {
  margin-bottom: 16px;
}


.modal-textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 8px 16px;
  outline: transparent;
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  resize: none;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
  border-color: #4D5AE5;
}

.modal-btn {
display: block;
margin: 24px auto;
min-width: 169px;
height: 56px;
padding: 16px 32px 16px 32px;
border-radius: 4px;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
background: #4D5AE5;
border: none;
color: #FFFFFF;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover {
  background-color: #404BBF;
}

.modal-field-checkbox {
margin-bottom: 24px;
}

.modal-check-text {
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8E8F99;
}

.modal-check-link {
  color: #4D5AE5;
  text-decoration: underline;
}


.modal-chek-item {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  border 250ms cubic-bezier(0.4, 0, 0.2, 1),
  fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check:checked + .modal-check-text .modal-chek-item {
background-color: #404BBF;
border: none;
fill: #F4F4FD;
}

.modal-btn-checkbox {
display: block;
  margin: 24px auto;
  min-width: 169px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  height: 56px;
  padding: 16px 32px 16px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background: #4D5AE5;
  border: none;
  color: #FFFFFF;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-btn-checkbox:hover {
  background-color: #404BBF;
}